<!doctype html>
<html lang="{{.Site.LanguageCode}}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<link rel="stylesheet" href="{{(resources.Get "global.css" | css.Sass | resources.Minify).RelPermalink}}">
	<link rel="stylesheet" href="{{(resources.Get "skuare.css" | css.Sass | resources.Minify).RelPermalink}}">

	<link rel="alternate" type="application/atom+rss" href="{{.Site.BaseURL}}index.xml" title="{{.Site.Params.blogTitle}}">
	<link rel="canonical" href="{{.Permalink}}">

	{{$title := .Site.Title}}
	{{if eq .Section "blog"}}{{$title = .Site.Params.blogTitle}}{{end}}
	{{if .Title}}{{$title = printf "%s - %s" .Title $title}}{{end}}
	<title>{{$title}}</title>
	<meta name="description" content="{{.Description}}">
</head>

<body>
	<nav>
		<a href="/">home</a>
		<a href="/blog">bolg</a>
		<a href="/projects">projects</a>
		<a href="/stuff">stuff</a>

		<button id="themeSelector"/>
		<script>
			let theme = localStorage.getItem("theme") ?? 0
			const selector = document.getElementById("themeSelector")
			selector.addEventListener("click", e => {
				theme = (theme + 1) % 3
				if (theme == 0) localStorage.removeItem("theme")
				else localStorage.setItem("theme", theme);
				themeUpdated()
			})
			themeUpdated()
			function themeUpdated() {
				if (theme == 0) {
					selector.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentcolor" d="M448 256c0-106-86-192-192-192l0 384c106 0 192-86 192-192zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"/></svg>'
					if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
						document.documentElement.classList = ["dark"]
					}
					else {
						document.documentElement.classList = ["light"]
					}
				}
				else if (theme == 1) {
					selector.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentcolor" d="M361.5 1.2c5 2.1 8.6 6.6 9.6 11.9L391 121l107.9 19.8c5.3 1 9.8 4.6 11.9 9.6s1.5 10.7-1.6 15.2L446.9 256l62.3 90.3c3.1 4.5 3.7 10.2 1.6 15.2s-6.6 8.6-11.9 9.6L391 391 371.1 498.9c-1 5.3-4.6 9.8-9.6 11.9s-10.7 1.5-15.2-1.6L256 446.9l-90.3 62.3c-4.5 3.1-10.2 3.7-15.2 1.6s-8.6-6.6-9.6-11.9L121 391 13.1 371.1c-5.3-1-9.8-4.6-11.9-9.6s-1.5-10.7 1.6-15.2L65.1 256 2.8 165.7c-3.1-4.5-3.7-10.2-1.6-15.2s6.6-8.6 11.9-9.6L121 121 140.9 13.1c1-5.3 4.6-9.8 9.6-11.9s10.7-1.5 15.2 1.6L256 65.1 346.3 2.8c4.5-3.1 10.2-3.7 15.2-1.6zM160 256a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zm224 0a128 128 0 1 0 -256 0 128 128 0 1 0 256 0z"/></svg>'
					document.documentElement.classList = ["light"]
				}
				else if (theme == 2) {
					selector.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentcolor" d="M223.5 32C100 32 0 132.3 0 256S100 480 223.5 480c60.6 0 115.5-24.2 155.8-63.4c5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6c-96.9 0-175.5-78.8-175.5-176c0-65.8 36-123.1 89.3-153.3c6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z"/></svg>'
					document.documentElement.classList = ["dark"]
				}
			}
		</script>
	</nav>
	{{block "main" .}}{{end}}
</body>

</html>
