:root.dark {
	--bg: #111;
	--fg: #fed;
	--hl: #99f;
	color-scheme: dark;
}
:root.light {
	--bg: #fec;
	--fg: #301;
	--hl: #55f;
	color-scheme: light;
}
:root {
	font-family: monospace;
	font-size: 1rem;
	background: var(--bg);
	color: var(--fg);
}

body {
	max-width: 40rem;
	margin: 0 auto;
	padding: 0 1rem;
}

a {
	color: var(--hl);
}
a:hover {
	background: var(--hl);
	color: var(--bg);
	text-decoration: none;
}

nav {
	margin: 1rem 0;
}
nav > * {
	margin-right: 1em;
}

article {
	font-family: system-ui;
	font-size: 1.3rem;
}
article img {
	display: block;
	margin: auto;
	max-height: 25em;
}

pre {
	overflow-x: auto;
	padding: .5em;
}

#themeSelector {
	all: unset;
	float: right;
	padding: .2rem;
	cursor: pointer;
	height: 1em;
}
#themeSelector svg {
	width: 1em;
}

.btn {
	border: solid currentColor 1px;
	border-radius: .5em;
	padding: .2em .4em;
}

small {
	opacity: .5;
}

.posts li {
	padding: .3em;
}

#latestVideo {
	display: flex;
	gap: 1em;
}
#latestVideo img {
	max-width: 30%;
	margin: auto 0;
}
#latestVideo div {
	margin: auto 0;
	*:first-child { margin-top: 0; }
}

footer {
	width: fit-content;
	margin: auto;
}
