{{define "main"}}
{{.Content}}
<hr style="margin: 1.5rem 0;">
<footer>
	<a href="/banporn"><img src="/banporn.png" alt="ban porn"></a>
	<a href="/whychrist"><img src="/whychrist.png" alt="why christ?"></a><br>
	<small>site updated {{time.Now.Format "2 Jan 2006"}}</small>
</footer>
{{end}}
