/* use em, rem, %, and viewport units */
@font-face {
    font-family: fira-mono;
    src: url("/assets/fira-mono.ttf");
}
:root {
    --bg: #fff;
    --fg: #000;
    --prmry: #00f;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #0a0f18;
        --fg: #fff;
        --prmry: #6495ed;
        color-scheme: dark;
    }
}
body {
    margin: 0 auto;
    width: 40%;
    font-family: fira-mono;
    background: var(--bg);
}
a {
    display: inline-block;
    color: var(--prmry);
}
article {
    font-size: 1.2rem;
    font-family: system-ui;
}
.date {
    display: block;
    opacity: 50%;
}
.icon-text img {
    width: 1.5em;
    height: 1.5em;
}
ul.clean li,
nav .dropdown ul li {
    margin: 0.7rem 0;
}
.video {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem 0;
}
.video div:first-of-type {
    width: 33%;
}
.video div:not(:first-of-type) {
    flex: 1;
}
.video div img {
    max-width: 100%;
}
/* NAV & FOOTER */
nav {
    padding: 0.7rem 0 0.7rem 0;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    border: 1px dashed var(--fg);
    border-left: 0;
    border-right: 0;
}
nav a {
    color: unset;
}
nav .dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0 1rem;
    max-width: 7rem;
    position: absolute;
    margin-left: -1rem;
    background: var(--bg);
    visibility: collapse;
}
nav .dropdown:hover ul {
    visibility: visible;
}
footer {
    font-size: 0.75rem;
    padding-bottom: 1rem;
}
/* STYLE HELPERS */
.text-center {
    text-align: center;
}
@media screen and (max-width: 800px) {
    body {
        width: 90%;
    }
}
