.banner {
	height: 30vh;
	overflow: hidden;
	align-items: center;
}
.banner img {
	min-width: 100%;
	object-fit: cover;
}

@media screen and (max-width: 800px) {
    .banner {
        height: 20vh;
    }
    .banner img {
        min-height: 250%;
    }
}