tr {
    height: 5rem;
}
td {
    width: 5rem;
}
td.on {
    background-color: green;
}
td.on.hover {
    background-color: rgb(0, 100, 0);
}
td.off {
    background-color: red;
}
td.off.hover {
    background-color: rgb(192, 0, 0);
}
table.win td {
    background-color: yellow;
}
table.win td.hover {
    background-color: rgb(231, 231, 0);
}
