{{$youtubeFeed := resources.GetRemote "https://www.youtube.com/feeds/videos.xml?channel_id=UCqZgilaCgI6P0BD7tPrDXhg" | transform.Unmarshal}}
{{$odyseeFeed := resources.GetRemote "https://odysee.com/$/rss/@zacoons:0" | transform.Unmarshal}}

{{$youtubeVideo := index $youtubeFeed.entry 0}}
{{$odyseeVideo := index $odyseeFeed.channel.item 0}}

<div id="latestVideo">
	{{$thumbnail := index $youtubeVideo.group.thumbnail "-url" | resources.GetRemote}}
	{{$thumbnail = $thumbnail.Fill "256x144 Center jpg q50"}}
	<img src="{{$thumbnail.RelPermalink}}" alt="thumbnail">
	<div>
		<p>{{$youtubeVideo.title}}</p>
		<a href="{{$odyseeVideo.link}}" class="btn">odysee</a>
		<a href="{{index $youtubeVideo.link "-href"}}" class="btn">youtube</a>
	</div>
</div>
