<ul class="posts">

{{$posts := where .Site.RegularPages "Section" "blog"}}
{{if .Get 0}}
	{{$posts = first (.Get 0) $posts}}
{{end}}

{{range $posts}}
	<li>
		<a href="{{.RelPermalink}}">{{.Title}}</a>
		<small>{{.Date.Format "2 Jan 2006"}}</small>
	</li>
{{end}}

</ul>
